

.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 30rem;
    margin-top: 5rem;
    border-radius: 10px;

}


.headerText{
    font-size: 1.7rem;
    text-align: center;
    padding: 2rem;
}

.formstyle{
    height: 20rem;
    display: flex;
    flex-direction: column;
}

.inputStyle{

    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 30px;
    border-radius: 10px;
    outline: none;
    border: none;


}

.loginButton{

    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #ccade6;
    border: none;
    color:white;
    font-size: 1rem;
    cursor: pointer;
    

}